<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.8/brite/bootstrap.rtl.min.css" integrity="sha512-CFN2eJ6gpxQhHtbdMuDwo95XKCmeSIM/BjslrqsY5Dq2XVZ8Po2sXEWTe25DUrCiGUpSUiz/WvGUQVRO7FtwnA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			<link rel="stylesheet" href="{{ asset('CSS/styles.css') }}"/>

			<nav class="navbar">
				<div class="nav-left">
					<h1 class="logo">Podcast</h1>
				</div>
				<div class="nav-right">
					<a href="{{ path('userRegistration') }}" class="nav-link">Registrarte</a>
					<a href="#" class="nav-link login">Login</a>
				</div>
			</nav>
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
        {% block body %}{% endblock %}
	</body>
</html>
